<div class="task-container">
  <router-outlet></router-outlet>
</div>
<div class="menu">
  <a class="menu-item portfolio" target="_blank" href="http://akhil-regonda.azurewebsites.net">Portfolio</a>
  <div routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="menu-item">Page 1</div>
  <div [routerLink]="['/page2']" routerLinkActive="active" class="menu-item">Page 2</div>
  <div [routerLink]="['/page3']" routerLinkActive="active" class="menu-item">Page 3</div>
</div>
