<div class="task-block">
  <div class="task-card">
    <h1>Select Information</h1>
    <div class="form-block">
      <div class="left-block">
        <div class="form-item success">
          <input type="text" placeholder="Full Name" name="fullName">
          <span class="flaticon-check-symbol form-item-status"></span>
        </div>
        <div class="form-item">
          <input type="text" placeholder="E-mail" name="email">
        </div>
        <div class="form-item">
          <input type="text" placeholder="Password" name="password">
        </div>
        <div class="form-item">
          <input type="text" placeholder="Confirm Password" name="confirmPassword">
        </div>
      </div>
      <div class="right-block">
        <div class="upper">
          <div class="form-item error">
            <input type="text" placeholder="Mobile" name="mobile">
            <span class="flaticon-danger form-item-status"></span>
          </div>
          <div class="form-item">
            <input type="text" placeholder="Website" name="website">
          </div>
        </div>
        <div class="lower">
          <div class="form-item">
            <button class="task-btn-2">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
