<div class="task-block">
  <div class="task-card">
    <h1>Select Role type</h1>
    <div class="role-blocks">
      <div class="role-block">
        <span class="role-icon flaticon-vector"></span>
        <h4>Graphic Designer</h4>
      </div>
      <div class="role-block">
        <span class="role-icon flaticon-web-design"></span>
        <h4>UI/UX Designer</h4>
      </div>
      <div class="role-block">
        <span class="role-icon flaticon-web"></span>
        <h4>Developer</h4>
      </div>
    </div>
    <div class="btns">
      <button class="task-btn-1"><span class="flaticon-left-arrow p-r-1"></span> Back</button>
      <button class="task-btn-1">Submit <span class="flaticon-left-arrow flip-180 p-r-1"></span></button>
    </div>
  </div>
</div>
